* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 1000px;
    background-image: url('https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/reservation-bg.jpg');
    background-size: cover;

    .container {
        margin: auto;
        padding: 0px 32px;
        max-width: 1400px;

        .coni {
            width: 100%;
            height: 1000px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .con1 {
                padding: 20px 20px;
                gap: 20px;
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                height: 500px;

                h6 {
                    color: #ffffff;
                    font-weight: 500;
                    letter-spacing: 2px;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                h4 {
                    color: #fff;
                    font-weight: 700;
                    text-align: start;
                    font-size: 40px;
                    font-family: 'Times New Roman', Times, serif;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    line-height: 25px;
                    color: #ffffff;
                }



                .button {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    .ass {
                        top: -55px;
                        position: relative;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        background-color: #fb5849;

                        .i {

                            color: white;
                        }
                    }

                    button {
                        align-items: center;
                        justify-content: center;
                        width: 260px;
                        height: 170px;
                        object-fit: cover;
                        border: none;
                        display: flex;
                        flex-direction: column;
                        background-color: #ffffff;
                        border-radius: 5px;

                        h1 {
                            position: relative;
                            bottom:32px;
                            font-size: 23px;
                            font-weight: 700;
                            color: #09090aee;
                        }

                        h4 {
                            font-size: 15px;
                            font-weight: 500;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: #2a2a2a;
                        }



                    }
                }
            }

            .con2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 600px;

                .div0 {
                    border-radius: 5px;
                    padding: 20px 10px;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 80%;
                    height: 100%;
                    gap: 20px;

                    h3 {
                        width: 100%;
                        height: 20px;
                        font-size: 30px;
                        text-align: center;
                        font-family: 'Roboto Slab', serif;
                        color: #09090a;
                    }

                    .inout {
                        border-radius: 5px;
                        font-size: 15px;
                        padding: 10px;
                        height: 40px;
                        border: 1px solid;
                        border-color: rgba(0, 0, 0, 0.089);
                        width: 46%;

                    }

                    .text {
                        border-radius: 5px;
                        border: 1px solid;
                        border-color: rgba(0, 0, 0, 0.089);
                        padding: 10px;
                        font-size: 15px;
                        width: 90%;
                        height: 200px;

                    }

                    button {
                        border-radius: 5px;
                        height: 50px;
                        width: 90%;
                        border: none;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        font-size: 20px;
                        background-color: #fb5849;

                    }

                }


            }
        }
    }
}
@media screen and (min-width:767px) and (max-width:1400px) {
    footer {
        height: 1400px;
        width: 100%;
        position: relative;
        top: 100px;

        .container {
            .coni {
                height: 1400px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .con1 {
                    width: 100%;
                    height: 500px;
                    flex-direction: column;


                }
                .con2 {
                    width: 100%;
                height: 500px;

                    

                }
            }
        }
    }

}
@media screen and (min-width:319px) and (max-width:768px) {
    footer {
        height: 1500px;
        width: 100%;
        position: relative;
        top: 2000px;
        background-size: cover;

        .container {
            .coni {
                height: 2200px;
                width: 100%;
                display: flex;
                flex-direction: column;

                .con1 {
                    h4{
                        font-size: 20px;

                    }
                    h6{
                        font-size: 15px;
                    }
                    flex-direction: column;
                    width: 100%;
                    height: 580px;
                    .button{
                        gap: 100px;
                        position: relative;
                        top:100px;
                       padding: 10px 10px 10px 10px;
                        display: flex;
                        flex-direction: column;
                    }

                }
                .con2{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 900px;
                    position: relative;
                    bottom: 600px;
                    .div0{
                        width: 100%;
                        height: 500px;
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        justify-content: flex-start;
                        h3{
                            font-size: 20px;
                        }
                        .inout{
                            height: 30px;
                            width: 100%;
                        }
                        .text{
                            height: 40px;
                            width: 100%;
                        }
                        button{
                            height: 50px;
                            width: 100%;


                        }

                    }

                }
            }
        }
    }

}